extends layout

block content
	h2= t('app.sistema.nome') + ' ' + t('app.sistema.versao')
	p= t('app.index.texto1')
		ul
			li
				a#de(href='/?setLng=pt_BR')= t('app.portugues')
			li
				a#de(href='/?setLng=en_US')= t('app.english')
			li
				a#de(href='/?setLng=dev')= t('app.dev')

	include home/index