table(class="table table-striped")
	thead
		tr
			th= t('app.home.table3.th1')
			th= t('app.home.table3.th2')
			th= t('app.home.table3.th3')
			th= t('app.home.table3.th4')
			th= t('app.home.table3.th5')
			th= t('app.home.table3.th6')
	tbody
		tr
			td 
				a(href="#") São Bras açsdnasdk alskdj
			td 140
			td 3m
			td 2:23:21h
			td
				div(class="progress")
					div(class="progress-bar", role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", style="width: 50%;")
			td
				div(class="btn-group")
					button(type="button", class="btn btn-default btn-sm", title="Visualizar")
						span(class="glyphicon glyphicon-search")
							Visualizar
					button(type="button", class="btn btn-default btn-sm", title="Editar")
						span(class="glyphicon glyphicon-cog")
							Editar
					button(type="button", class="btn btn-default btn-sm", title="Deletar")
						span(class="glyphicon glyphicon-trash")
							Deletar
					button(type="button", class="btn btn-default btn-sm", title="Imprimir Tag")
						span(class="glyphicon glyphicon-qrcode")
							TAG
					button(type="button", class="btn btn-info btn-sm", title="Ativo")
						span(class="glyphicon glyphicon-ok-sign")
							Ativo
					
		tr
			td 
				a(href="#") São Bras
			td 140
			td 3m
			td 2:23:21h
			td
				div(class="progress")
					div(class="progress-bar", role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", style="width: 50%;")
			td
				div(class="btn-group")
					button(type="button", class="btn btn-default btn-sm", title="Visualizar")
						span(class="glyphicon glyphicon-search")
							Visualizar
					button(type="button", class="btn btn-default btn-sm", title="Editar")
						span(class="glyphicon glyphicon-cog")
							Editar
					button(type="button", class="btn btn-default btn-sm", title="Deletar")
						span(class="glyphicon glyphicon-trash")
							Deletar
					button(type="button", class="btn btn-default btn-sm", title="Imprimir Tag")
						span(class="glyphicon glyphicon-qrcode")
							TAG
					button(type="button", class="btn btn-danger btn-sm", title="Inativo")
						span(class="glyphicon glyphicon-exclamation-sign")
							Inativo